/* styles/Carousel.module.css */
.carousel {
    display: flex;
    margin: 2% 0% 0% 2%;
    width: 100%;
    height: 600px;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    position: relative;
}

.slide {
    display: flex;
    width: 100%;
    height: 600px;
    transition: transform 10s ease;
}

.slide img {
    object-fit: cover;
}

.section-singleImg {
    padding: 5% 0% 3% 5%;
    width: 100%;
    height: fit-content;
}