nav {
    position: fixed;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 22vh;
    background-color: white;
    align-items: center;
    padding-top: -1%;
    /* overflow: hidden; */
    z-index: 2;
    margin-bottom: 10vh;
}

input {
    border-radius: 3px;
}

input:focus {
    outline: none;
}

li {
    list-style: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

#div-envios{
    background-color: #019FE3;
    width: 100%;
    height: 6vh;
    padding-top: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* font-size: larger; */
    letter-spacing: 1px;
}

#div-envios p {
    color: white;
    font-weight: 600;
    font-size: 12px;
}

#nav-principal {
    width: 100%;
    display: flex;
    padding: 1% 5% 1% 5%;
    align-items: center;
}

#nav-img-home {
    width: 28%;
    height: fit-content;
    margin-right: 12%;
}

#nav-principal-list {
    display: flex;
    width: 55%;
}

#nav-principal-list a {
    font-size: medium;
    font-weight: 600;
}


.nav-div-li {
    margin-right: 5%;
}

.li2 {
    border-right: 1px solid #CACCCE;
    padding-left: 3%;
    display: flex;
    padding-right: 4%;
}

#nav-div-li-first {
    padding-left: 6%;
    padding-right: 3%;
    display: flex;
    border-right: 1px solid #CACCCE;
}



#nav-barSerch {
    width: 100%;
    height: 9vh;
    background-color: #025AA5;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    font-size: medium;
    justify-content: space-between;
}

#nav-barSerch-input {
    width: 42%;
    height: 5vh;
    border: none;   
}